decord==0.6.0
einops==0.3.0
imageio==2.9.0
numpy==1.24.2
omegaconf==2.1.1
opencv_python==4.3.0.38
pandas==2.0.0
Pillow==10.3.0
pytorch_lightning==1.8.3
PyYAML==6.0
setuptools==70.0.0
torch==2.0.0
torchvision
tqdm==4.66.3
transformers==4.38.0
moviepy
av
xformers
gradio
timm
-e .
